/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}


/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

/***********************************/
/* HANDIGE TIP VAN SANNE VOOR IMG's*/
/* img {
  max-width: 100%;
} */
/***********************************/


/********/
/* MAIN */
/********/
/* "Edwards main banner"-section */
#edwards-main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main image van Edward van Vliet */
#edwards-main-picture {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 10rem;
  height: 10rem;
}

/* DigiD - "Laat zien wie je bent"-section */
#edwards-hoofdvlak-ctas {
  position: relative;
  height: 10.75rem;

  /* Flexbox gebruikt voor het oranje vlak */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontaal centreren */
  padding: .8125rem 1rem 0;
}

#edwards-hoofdvlak-oranje {
  position: relative;
  /* top: -2.6875rem; */

  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontaal centreren */
  row-gap: .75rem;
  padding: .8125rem 1rem 1rem;

  background-color: var(--color-main);
}

#edwards-hoofdvlak-oranje h1 {
  margin: 0;
  align-items: center;
  line-height: 1rem;
  letter-spacing: .0156rem;
  padding: 1rem 1rem 1rem 0;
}

#edwards-hoofdvlak-oranje img {
  max-width: 100%;
  width: 3.125rem;
  height: 3.125rem;
}

#edwards-hoofdvlak-oranje ul:nth-of-type(1) {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: .8125rem;
  justify-content: center;
  align-items: center; /* Verticaal centreren */
}

#edwards-hoofdvlak-oranje ul:nth-of-type(1) li {
  color: var(--color-background-topbar);
}

#edwards-hoofdvlak-oranje ul:nth-of-type(2) {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

#edwards-hoofdvlak-oranje ul:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  color: var(--color-background-topbar);
}

#edwards-hoofdvlak-oranje ul:nth-of-type(2) li a:nth-of-type(1) {
  display: block;
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 1.188em;
  font-family: "rijksoverheid", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: normal;

  position: relative;
  padding: 1rem;
  width: 100%;

  border-radius: .25rem;
  border-width: .0625rem;
  border-color: var(--color-text);
  box-shadow: 0 .125rem .25rem 0 rgba(40, 40, 40, .24);
  background-color: var(--color-button-background);
  cursor: pointer;

  display: flex;
  align-items: center;
}

#edwards-hoofdvlak-oranje ul:nth-of-type(2) li svg {
  max-width: 100%;
  width: 1rem;
  height: 1rem;
}

#edwards-hoofdvlak-oranje ul:nth-of-type(2) li path {
  max-width: .434rem;
  max-height: .75rem;
  
  color: var(--color-main);
}

/* "Edwards Projects"-section (Carrousel) */
#edwards-projects-carrousel {
  text-align: center;
  font-family: 'Varela Round', ubuntu, segoe ui, arial, sans-serif;
}

.carrousel {
  width: 900px;
  height: calc(600px - 150px);
  margin: auto;
  font-size: 0;
  overflow: hidden;
  font-size: 0;
  position: relative;
  text-align: left;

    .screens {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        width: 900px;
        height: 600px;
        position: relative;
        transform: translate(0%, -30%);
        
        
        & > li {
            width: 0%;
            height: 100%;
            width: 50%;
            height: 50%;
            display: inline-block;
            font-size: 15px;
            overflow: hidden;
            background: #bbb;
            border-radius: 10px;
            opacity: 0;
            filter: blur(5px);
            cursor: pointer;
            position: absolute;
            bottom: 0;
            transform: translate(50%, 0);
            transition: all .7s;
            pointer-events: none;
            
            &:hover {filter: none; opacity: 1;}
            &.active {
                opacity: 1;
                filter: none;
                width: 70%;
                height: 70%;
                z-index: 100;
                transform: none;
                transform: translate(20%,0);
            }
            &.active, &.left, &.right {pointer-events: all;}
            &.left, &.right {transform: translate(0%, 0); opacity: .5;}
            &.left {transform: translate(0%, 0);}
            &.right {transform: translate(100%, 0);}
            p {
                margin: 0;
                justify-content: center;
                align-items: center;
                text-align: center;
                display: flex;
                height: 100%;
                color: #fff;
                font-size: 20px;
                pointer-events: none;
            }
        }
    }
    
    .pagination {
        list-style: none;
        padding: 5px;
        text-align: center;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        
        li {
            display: relative;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            margin: 5px;
            opacity: .3;
            cursor: pointer;
            background: #000;
            border-radius: 100%;
            transition: all .2s;
            background-size: cover;
            background-position: center;
            
            &:hover, &.active {opacity: 1;}
        }
    }
}

#s1 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG34.png);
  background-size: cover;
  background-position: center;
}

#s2 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG33.png);
  background-size: cover; background-position: center;
}

#s3 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG32.png);
  background-size: cover;
  background-position: center;
}

#s4 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG31.png);
  background-size: cover;
  background-position: center;
}

#s5 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG30.png);
  background-size: cover;
  background-position: center;
}

#s6 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG29.png);
  background-size: cover;
  background-position: center;
}

#s7 {
  background-image: url(https://doocode.xyz/res/img/backgrounds/DCG28.png);
  background-size: cover;
  background-position: center;
}

/* "Machtigen"-section - Pijl naar rechts (groter dan)-icon in de knop na de tekst "Meer informatie" */
#edwards-machtigen {
  padding: 3.25rem 1rem .75rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#edwards-machtigen section {
  padding: 1.375rem 1rem 1rem;
  background-color: var(--color-inner-sections-background);
  border-radius: .25rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: .625rem;
}

#edwards-machtigen section p {
  padding-bottom: .625rem;
}

#edwards-machtigen section a {
  padding: .875rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem 0 rgba(40, 40, 40, .24);
  background-color: var(--color-main);
  cursor: pointer;

  text-decoration: none;
  color: var(--color-first-heading);
  font-size: 1.1875em;
  font-family: "rijksoverheid", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

#edwards-machtigen section svg {
  max-width: 100%;
  width: 1rem;
  height: 1rem;
}

#edwards-machtigen section path {
  max-width: .434rem;
  max-height: .75rem;
}

/* "FAQ"-section - de groter dan-tekens in de list */
main section:nth-of-type(5) {
  padding: 1rem 1rem 1rem;
}

main section:nth-of-type(5) h3 {
  padding: 0 0 0 1rem;
}

main section:nth-of-type(5) ul {
  list-style: none;

  padding: 0;
}

main section:nth-of-type(5) li {
  position: relative;
  padding: .9375rem 1.4375rem .9375rem 0;
  min-height: 3rem;
  
  display: flex;
  align-items: center;

  border-top: .0625rem solid var(--color-list-border-lines);
}

main section:nth-of-type(5) li:last-of-type {
  border-top: .0625rem solid var(--color-list-border-lines);
}

main section:nth-of-type(5) a {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;

  display: flex;
  align-items: center;
  column-gap: .625rem;
}

main section:nth-of-type(5) svg {
  max-width: 100%;
  width: .8125rem;
  height: .8125rem;

  flex-shrink: 0;
}

main section:nth-of-type(5) path {
  max-width: .353rem;
  max-height: .609rem;

  color: var(--color-text);
}